<div class="container">

    <h4>Add an Item</h4>
    
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="txtBoxTitle">Item</label>
            <input type="text" class="textbox" name="txtBoxTitle" id="txtBoxTitle" [(ngModel)]="title" required>
        </div>
        <div class="form-group">
            <label for="txtBoxQuantity">Quantity</label>
            <input type="text" class="textbox" name="txtBoxQuantity" id="txtBoxQuantity" [(ngModel)]="quantity" required>
        </div>
        <button class="btn" type="submit">Add Item</button>
    </form>
</div>